@tailwind base;
@tailwind components;
@tailwind utilities;

main{
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.6)), url('https://images.pexels.com/photos/1457842/pexels-photo-1457842.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
  background-size: cover;
}

.fix{
  position: fixed;
  right: 1rem;
  top: 1rem;
}